#squares{
    width: 70%;
    height: 200px;
    border: 2px solid white;
    float: left;
    margin: 10px;
    border-radius: 20%;
}

body{
    background-color: #232323;
}

.headcont{
    background-color: blueviolet;
}

#randcol{
    font-size: 5rem;
}

h1{
    text-align: center;
    color: white;
    padding-top: 2%;
    font-size: 3rem;;
}

.boxes {
    padding-top: 5%;
}


@media only screen and (max-width: 600px) {
    #squares{
        width: 50%;
        height: 200px;
        border: 2px solid white;
        float: left;
        margin: 10px;
        border-radius: 20%;
        margin-left: 25%;
    }

    .boxes {
        padding-top: 5%;
        text-align: center;
    }

    h1{
        text-align: center;
        color: white;
        padding-top: 2%;
        font-size: 2rem;;
    }

    #randcol{
        font-size: 3rem;
    }

  }
